{% extends 'index_master.html' %}

{% block content %}
{% if user.is_authenticated %}
<main>
  <section>
    <div class="text-center">
      {% for task in tasks %}
      <li>
        <a href="{% url 'task_update' task.id %}">
          {% if task.important %}
          <q>{{task.title}}</q>
          {% else %}
            {{task.title}}
          {% endif %}
          <p>{{task.description}}</p>
        </a>
      </li>
      {% endfor %}
    </div>
  </section>
</main>
{% else %}
<center><p>ERROR 404</p></center>
{% endif %}
{% endblock %}