{% extends 'index_master.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="right_col" role="main">
      <h1>Tareas pendientes de usuarios</h1>
      <ul>
      {% for task in tasks %}
      <li>
        <a>
          {% if task.important %}
          <h2>{{task.title}}</h2>
          {% else %}
          {{task.title}}
          {% endif %}
          <p>{{task.description}}</p>
        </a>
      {% endfor %}
      </ul>
    </div>
    {% else %}
      {% if user.is_staff %}
      <div class="right_col" role="main">
        <h1>Tareas pendientes</h1>
        <ul>
        {% for task in tasks %}
            {% if task.important %}
            <h2>{{task.title}}</h2>
            {% else %}
            {{task.title}}
            {% endif %}
            <p>{{task.description}}</p>
          </a>
        {% endfor %}
      </ul>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}